{% extends 'base.html' %}
{% block title %} Market {% endblock title %}

{% block body %}
  <div class="container">
    <div class="heading text-center m-3 p3">
      <h1>All Table Info</h1>
    </div>
    <table class="table p-4 " style="color: #fff;">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Barcode</th>
          <th scope="col">Price</th>
          <th scope="col">Options</th>
        </tr>
      </thead>
      <tbody>
        {% for item in items %}
        <tr>
          <th scope="row">1</th>
          <td>{{ item.name }}</td>
          <td>{{ item.barcod }}</td>
          <td>{{ item.price }}</td>
          <td>
            <button class="btn btn-outline btn-info">More Info</button>
            <button class="btn btn-outline-success">Purchase</button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock body %}